accelerate
aiohttp
anyio
attrs
bitsandbytes
blinker
cachetools
certifi
charset-normalizer
click
dataclasses-json
faiss-cpu
fastapi
filelock
fsspec
GitPython
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
Jinja2
joblib
jsonschema
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
langsmith
MarkupSafe
marshmallow
networkx
numpy
orjson
packaging
pandas
pillow
protobuf
psutil
pydantic
pydantic-settings
python-dateutil
python-dotenv
PyYAML
regex
requests
scikit-learn
scipy
sentence-transformers
six
SQLAlchemy
starlette
streamlit
tenacity
threadpoolctl
tokenizers
toml
torch
tqdm
transformers
typing_extensions
urllib3
uvicorn
yarl
zipp
